<%- include('../layouts/main-layout.ejs') %>
<link rel="stylesheet" href="/css/cc-style.css">
    <main>
        <div class="container">
            
                <% if (countCardDetails > 0) { %>
                    <div class="row mb-4">
                        <div class="col-md-12 text-center">
                            <a href="/cards/add-billreminder" class="btn btn-primary">Add A Card</a>
                        </div>
                    </div>
                <div class="row">

                <div class="accordion" id="accordionExample">
                    <% for (let i = 0; i < countCardDetails; i++) { %>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_<%= i %>" aria-expanded="true" aria-controls="collapseOne">
                            <%= cardDetails[i].TCR_CardName  %>
                        </button>
                        </h2>
                            <div id="collapse_<%= i %>" class="accordion-collapse collapse <% if (i == 0) { %> show <% } %>" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="card">
                                        <img src="<%= cardDetails[i].TCR_BankName.TBM_BankImage  %>" class="card-img-top" alt="..." height="300" width="30">
                                            <div class="card-body">
                                                <h5 class="card-title"></h5>
                                                <p class="card-text">
                                                    <div class="credit-card card-ui">
                                                        
                                                        <div class="form-body">
                                                            <!-- Card Number -->
                                                            <label>Card Number</label>
                                                            <input type="text" class="card-number" readonly="readonly" value="<%= cardDetails[i].CardNumber  %>">
                                                        
                                                            <!-- Date Field -->
                                                            <div class="date-field">
                                                                <label>Month / Year</label>
                                                            <div class="month">
                                                                <input name="Month" readonly="readonly" value="<%= cardDetails[i].TCR_CardExpiryMonth %>">
                                                            </div>
                                                            
                                                            <div class="year">
                                                                <input name="Year" readonly="readonly" value="<%= cardDetails[i].TCR_CardExpiryYear %>"> 
                                                            </div>
                                                                
                                                                
                                                            </div>
                                                        
                                                            <!-- Card Verification Field -->
                                                            <div class="card-verification">
                                                                <label>CVV</label>
                                                            <div class="cvv-input">
                                                                <input type="text" readonly="readonly" value="<%= cardDetails[i].CardSecretCode  %>">
                                                            </div>
                                                                
                                                            </div>
                                                    
                                                        <!-- Buttons -->
                                                        
                                                        </div>
                                                    </div>
                                                    
                                                    
                                                    
                                                    <table class="table">
                                                    <thead>
                                                        <tr>
                                                        
                                                        <th scope="col" class="text-primary">Type of Detail</th>
                                                        <th scope="col" class="text-danger">Value</th>
                                                        
                                                        </tr>
                                                    </thead>
                                                        <tbody>
                                                            <tr>
                                                                <th scope="row">Bank Name</th>
                                                                <td><%= cardDetails[i].TCR_BankName.TBM_BankName %></td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">Card Limit</th>
                                                                <td><%= cardDetails[i].TCR_CardLimit %></td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">Card Charges</th>
                                                                <td><%= cardDetails[i].TCR_CardCharges %></td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">Bill Generation Date</th>
                                                                <td><%= cardDetails[i].TCR_CardBillGenDate %></td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">Bill Due Date (Last Date of Bill Payment)</th>
                                                                <td><%= cardDetails[i].TCR_CardBillDueDate %></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </p>
                                                <div class="text-center">
                                                    <a href="#" class="card-link btn btn-primary">Edit Card</a>
                                                    <a href="#" class="card-link btn btn-danger">Delete the Card</a>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                            
                                        
                        <% } %>
                    </div>
                    <% } else { %>
                    
                       <div class="row">     
                            <div class="card mt-5 text-center">
                                <div class="card-body">
                                    <h5 class="card-title">No Cards Stored</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">You have not stored a card yet</h6>
                                    
                                    <a href="/cards/add-billreminder" class="card-link">Add A Card</a>
                                </div>
                            </div>
                        </div>

                    <% } %>
                    
                </div>
            </div>
        </div>
    </main>

<%- include('../layouts/footer.ejs') %>
<%- include('../layouts/end-tag.ejs') %>