<%- include('../layouts/main-layout.ejs') %>
<link rel="stylesheet" href="/css/cc-style.css">
    <main>
        <div class="container">
            
                <% if (countCardDetails > 0) { %>
                    <div class="row mb-4">
                        <div class="col-md-12 text-center">
                            <a href="/cards/add-billreminder" class="btn btn-primary"> <i class="fa-solid fa-plus"></i> Add A Card</a>
                            <button class="btn btn-success"> <i class="fas fa-file-excel"></i> Export to Excel Sheet</a>
                        </div>
                    </div>
                <div class="row">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Card Name</th>
                                        <th scope="col">Bank Name</th>
                                        <th scope="col">Card Limit</th>
                                        <th scope="col">Card Charges</th>
                                        <th scope="col">Card Bill Generation Date</th>
                                        <th scope="col">Card Bill Due Date</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                            <tbody>
                                <% for (let i = 0; i < countCardDetails; i++) { %>
                                    <tr>
                                    <th scope="row"><%= i + 1 %></th>
                                    <td><%= cardDetails[i].TCR_CardName  %></td>
                                    <td><%= cardDetails[i].TCR_BankName.TBM_BankName %></td>
                                    <td><%= cardDetails[i].TCR_CardLimit %></td>
                                    <td><%= cardDetails[i].TCR_CardCharges %></td>
                                    <td><%= cardDetails[i].TCR_CardBillGenDate %></td>
                                    <td><%= cardDetails[i].TCR_CardBillDueDate %></td>
                                    <td>
                                        <%- cardDetails[i].action %>
                                    </td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>


                    <% } else { %>
                    
                        <div class="row">     
                            <div class="card mt-5 text-center">
                                <div class="card-body">
                                    <h5 class="card-title">No Cards Stored</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">You have not stored a card yet</h6>
                                    
                                    <a href="/cards/add-billreminder" class="card-link">Add A Card</a>
                                </div>
                            </div>
                        </div>

                    <% } %>
                    
                </div>
            </div>
        </div>
    </main>
<div class="modal fade" id="cardSecretDetailsModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Card Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" tabindex="-1" >
             <div class="credit-card card-ui">
                
                    <img src="" id="card-image" height="100" width="100%" class="text-center">
                

                <div class="form-body">
                    
                    <!-- Card Number -->
                    <label>Card Number</label>
                    <input type="text" class="card-number" id="card-number" readonly="readonly" value="">
                
                    <!-- Date Field -->
                    <div class="date-field">
                        <label>Month / Year</label>
                    <div class="month">
                        <input name="Month" readonly="readonly" value="" id="card-month">
                    </div>
                    
                    <div class="year">
                        <input name="Year" readonly="readonly" value="" id="card-year"> 
                    </div>
                        
                        
                    </div>
                
                    <!-- Card Verification Field -->
                    <div class="card-verification">
                        <label>CVV</label>
                    <div class="cvv-input">
                        <input type="text" readonly="readonly" value="" id="card-cvv">
                    </div>
                        
                    </div>
                </div>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>
<%- include('../layouts/footer.ejs') %>


<script src="/js/card-list.js"></script>


<%- include('../layouts/end-tag.ejs') %>

