<%- include('./layouts/main-layout.ejs') %>
    <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Welcome  <%= userName %></h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Here is a brief statistics of all the card that you own</li>
                        </ol>
                        <div class="row">
                            <div class="col-xl-12 col-md-12">
                                <div class="card bg-white text-dark mb-4">
                                    <div class="card-body text-center">
                                        Got a new card? <a class="btn btn-primary" href="/cards/add-billreminder"> <i class="fa-solid fa-plus"></i> Add it now</a>
                                    </div>
                                </div>

                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="card bg-white text-dark mb-4">
                                    <div class="card-body">Total Number of Cards</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <p><%= cardSubDetails.totalCards %></p>
                                    </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small stretched-link" href="/cards/card-list">View Details</a>
                                        <div class="small text-dark"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="card bg-white text-dark mb-4">
                                    <div class="card-body">Total Credit Limit</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <p>Rs <%= cardSubDetails.totalLimit %> /-</p>
                                    </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small stretched-link" href="/cards/card-list">View Details</a>
                                        <div class="small text-dark"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="card bg-white text-dark mb-4">
                                    <div class="card-body">Total Charges for all Cards</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <p>Rs <%= cardSubDetails.totalChargesForCard %> /- </p>
                                    </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small stretched-link" href="/cards/card-list">View Details</a>
                                        <div class="small text-dark"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="row" style="display: none;">
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        Add a Card
                                    </div>
                                    <div class="card-body">
                                        <a href="/cards/add-billreminder" class="btn btn-primary">Click Here</a>

                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        Your Card List
                                    </div>
                                    <div class="card-body">
                                        <a href="/cards/card-list" class="btn btn-primary">Click Here</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    <!-- ======================================================================================================== -->
                    <div class="container-fluid px-4">
                        <div class="row">
                            <div class="col-xl-12 col-md-12">
                                <div class="card bg-white text-dark mb-4">
                                    <div class="card-body text-center">
                                        Got a new bank account? <a class="btn btn-info" href="/bankaccount/add-bankaccount"> <i class="fa-solid fa-plus"></i> Add it now</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-4 col-md-6">
                                <div class="card bg-white text-dark mb-4">
                                    <div class="card-body">Total Number of Bank Accounts</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <p><%= totalBankAccounts %></p>
                                    </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small stretched-link" href="/bankaccount/bankaccount-list">View Details</a>
                                        <div class="small text-dark"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            
                            
                        </div>
                        <div class="row" style="display: none;">
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        Add a Bank Account
                                    </div>
                                    <div class="card-body">
                                        <a href="/bankaccount/add-bankaccount" class="btn btn-primary">Click Here</a>

                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        Your Card List
                                    </div>
                                    <div class="card-body">
                                        <a href="/cards/card-list" class="btn btn-primary">Click Here</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </main>
<%- include('../layouts/footer.ejs') %>


<%- include('../layouts/end-tag.ejs') %>